@{ }
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
       <h1>Welcome to Trip management</h1>
       <span>This app will allow you to plan your business Trip</span>
        <a class="btn btn-primary btn-lg" asp-controller="App" asp-action="Index">Login</a>
    </div>
</div>